<button (click)="updatePage(previous)" *ngIf="previous">previous</button>
<button (click)="updatePage(next)" *ngIf="next">next</button>
<div class="card-deck">
  <app-poke-card *ngFor="let pokemon of pokeList" [name]="pokemon.name" [detailUrl]="pokemon.url"></app-poke-card>
</div>
